################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/**/*.vcxproj.user
/**/obj
/**/bin
/**/*.db
/**/*.opendb
/**/ipch/*
/**/.vs/
/**/*.sonarqube
/**/build_wrapper_output
/standalone