################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/**/*.vcxproj.user
/**/obj
/**/bin
/**/*.db
/**/*.opendb
/**/ipch/*
/**/.vs/
/**/*.sonarqube
/**/build_wrapper_output
/standalone/vs2015/.sonarlint
/standalone/vs2017/.sonarlint
/standalone/vs2019/.sonarlint
/**/*.csproj.user
/standalone/vs2017/CMake/VS2017_CMakeProject1/out/
/standalone/vs2019/CMake/VS2019_CMakeProject1/out/
/standalone/vs2022/CMake/VS2022_CMakeProject1/out
/standalone/vs2017/CMake/VS2017_CMakeProject1/.sonarlint
/standalone/vs2017/CMake/VS2019_CMakeProject1/.sonarlint
/standalone/vs2017/CMake/VS2022_CMakeProject1/.sonarlint

/standalone/vs2022/NormalSolution/x64/Debug
/standalone/vs2022/NormalSolution/Cpp_WindowsProject_VS2022/x64/Debug
